<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<head>
    <meta charset="UTF-8">
    <title>Страница администратора</title>
</head>
<body>
<h1> Управление отделами и менеджерами </h1>

<hr>
<a href="/admin/managers"> Управление менеджерами </a>
<hr>
<a href="/admin/divisions"> Управление отделами </a>
<hr>
<a href="/admin/inquiry"> Посмотреть все запросы </a>

<hr>
<a href="/"> Вернуться на главную </a>

</body>
</html>