<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Управление отделами</title>
</head>
<body>
<h1> Управление отделами</h1>
<!--

<div th:each = "m : ${managers}" >
    <a th:href="${'/admin/managers/'+m.getManagerId()}">Manager </a>
</div>
-->
<hr>
<a href="/admin/divisions/create"> Создать новый отдел </a>

<hr>
<a href="/admin"> Вернуться </a>
<hr>

</body>
</html>