<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Страница отдела</title>
</head>
<body>
<h1> Информация об отделе</h1>
<hr>
<div th:if="${division!=null}">
    <p th:text="${division.getName()+' '+division.getDivisionId()}"></p>

        <form th:method="DELETE" th:action="@{/admin/divisions/delete/{id}(id=${division.getDivisionId()})}"
        th:object="${division}">
        <input type="submit" value="Удалить отдел" name="delete">
        </form>
        <br>
        <form th:method="GET" th:action="@{/admin/divisions/edit/{id}(id=${division.getDivisionId()})}"
              th:object="${division}">
          <input type="submit" value="Редактировать" name="edit">
        </form>
    <p>Ответственные менеджеры </p>
    <table>
        <tr>
            <th>Фамилия</th>
            <th> Имя </th>
            <th> Имя пользователя </th>
        </tr>
        <tr th:each="manager: ${division.getManagers()}">
            <td th:text="${manager.lastName}"></td>
            <td th:text="${manager.firstName} ?: '-'"></td>
            <td th:text="${manager.userName} ?: '-'"></td>
            <td>
                <a th:href="${'/admin/managers/'+manager.getManagerId()}">Подробней</a>
            </td>
        </tr>
    </table>


</div>

<div th:unless="${division!=null}"> Такого отдела не существует</div>



<hr>
<a href="/admin/divisions"> Вернуться </a>
<hr>

</body>
</html>