<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css} "/>
    <title>Управление менеджерами</title>
</head>
<body class="p-3 m-3 border-0">
<h1> Управление менеджерами</h1>

<br>

<p>Ответственные менеджеры </p>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID </th>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Юзернейм</th>
        <th scope="col">Отделы</th>
        <th scope="col">Подробней</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="manager: ${managers}" th:scope="row">
        <td th:text="${manager.getManagerId()}"></td>
        <td th:text="${manager.lastName}"></td>
        <td th:text="${manager.firstName} ?: '-'"></td>
        <td th:text="${manager.userName} ?: '-'"></td>

        <td>
            <ul class="list-unstyled">
                <li>
                    <ul>
                        <li th:each="d: ${manager.getDivisions()}"
                            th:text="${d.getName()}"></li>
                    </ul>

                </li>
            </ul>
        </td>
        <td>
            <a th:href="${'/admin/managers/'+manager.getManagerId()}"> Информация </a>
        </td>
    </tr>
    </tbody>
</table>

<div class="d-grid col-3 gap-3 mx-left">
    <a class="btn btn-primary" href="/admin/divisions/create" role="button">Создать</a>
    <a class="btn btn-primary" href="/admin" role="button">Вернуться</a>
</div>

</body>
</html>