<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css} "/>
    <title>Страница Менеджера</title>
</head>
<body>
  <h1>Информация о менеджере</h1>
  <span th:text="${manager.getLastName()}"></span>
  <hr>
  <span>Отделы</span>
  <table class="table">
      <thead>
      <tr>
          <th scope="col">Код отдела </th>
          <th scope="col">Наименование</th>
          <th scope="col">Подробно об отделе </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="d: ${manager.getDivisions()}" th:scope="row" class="table-success">
          <td th:text="${d.getDivisionId()}"></td>
          <td th:text="${d.getName()}"></td>
              <td>
              <a th:href="${'/admin/divisions/'+d.getDivisionId()}"> Информация </a>
          </td>
      </tr>
      </tbody>
  </table>


<!--
<form method="POST" th:action="@{/admin/managers/{id}"
      <div class="form-check" th:each="d: ${divMap.entrySet()}">
          <input class="form-check-input" type="checkbox" th:id="divCheckBox"
                 th:value="${d.getKey()}" th:checked="${d.getValue()}">

          <label class="form-check-label" th:for="divCheckBox" th:text="${d.getKey().getName()}"></label>

      </div>

-->



</body>
</html>